body{
    background-color:black;
    color: black;
}
p{
    font-size: larger;
}
li{
    font-size: larger;
}
emphasis{
    font-style: italic;
    font-weight: bold;
    color: rgb(47, 109, 66);
    font-size: x-large;
}
fieldset{
    border-width: 3px;
    border-color: black;
    width: auto;
    background-color:lightgrey;
    color:black;
}
.text-grey{
    color: grey;
}
.text-size{
    size:"xx-large";
}
style{
    font-size:larger
}
legend{
    color: red;
    font-style: italic;
}
header{
    border-style: ridge;
    border-width: 10px;
    font-style: italic;
    text-align: center;
    background-color: black;
    color: white;
}
.h1-outer-fieldset{
    text-align: center;
    color: red;
}