body{
    background-color:lightgray
}
p{
    font-style: italic;
}
emphasis{
    font-weight: bolder;
}
fieldset{
    border-width: 3px;
    border-color: black;
    width: auto;
}
header{
    text-align: center;
    font-style: italic;
    background-color: black;
}
