body{
    background-color:black;
}
emphasis{
    font-style: italic;
    font-weight: bold;
    color: black
    font-size: x-large;
}
fieldset{
    border-width: 3px;
    border-color: black;
    width: auto;
    background-color:lightgrey;
    color:black;
    font-size: larger;
}
.text-grey{
    color: grey;
}
.text-size{
    size: 40px;
}
style{
    font-size:larger
}
header{
    border-style: ridge;
    border-width: 10px;
    font-style: italic;
    text-align: center;
    background-color: black;
    color: white;
}
.h1-outer-fieldset{
    text-align: center;
    color: white;
}